<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquarium Tracker</title>

    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        
    </style>
</head>

<body class="light-blue lighten-4">
    <!-- nav bar -->
    <nav class="blue darken-4">
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo"><i class="material-icons left">done</i>Aquarium Tracker</a>
            <ul class="right">
                <li><a href="/"><i class="material-icons left">home</i> Home</a></li>
                <li><a href="/fishlist"><i class="material-icons left">list</i> Fish List</a></li>
                <li><a href="/purchase"><i class="material-icons left">attach_money</i> Purchase</a></li>
            </ul>
        </div>
    </nav>

    <!-- page content -->
    <div class="container center-align">
        <h1>Welcome!</h1>
        <img src="sharks.webp" width="400px">
        <h2>Let's count your fish together...</h1>
            <a class="btn" href="/fishlist">
                <i class="material-icons right">arrow_forward</i> Get started!
            </a>
    </div>

    <!-- materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="/scripts/materializeAutoInit.js"></script>

</body>

</html>